Options -Indexes
DirectoryIndex ./index.php
FallbackResource ./index.php
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} ^.*\.(php|sql|htacces)$ [or]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !index.php
RewriteRule ^(.*)$ ./index.php?URL=$1 [QSA,L]